
body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #f6efe3;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6efe3;
    padding: 10px 40px;
    border-bottom: 2px solid #a17845;
}

.logo img {
    height: 70px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #3a2f1c;
}

main {
    padding: 40px;
}

section.bienvenida {
    background-color: #fbeedc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
